.select {
    text-transform: capitalize;
    justify-self: start;
    /* styling */
    color: var(--color-text);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style:  normal;
    font-weight: 300;
    background-color: var(--color-header-bg);
    border: 1px solid rgba(255, 255, 255, .3) ;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
            linear-gradient(45deg, transparent 30%, rgba(255, 255, 255, .3) 50%),
            linear-gradient(135deg, rgba(255, 255, 255, .3) 50%, transparent 50%),
            linear-gradient(to right, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3));
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

.select:focus {
    background-image:
            linear-gradient(45deg, var(--color-text) 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, var(--color-text) 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--color-text);
    outline: 0;
}


.select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


