@import-normalize;
@import url('./vendor/fonts.css');

:root {
  --color-text: #fff;
  --color-header-bg: #1A1A1F;
  --color-backgound: #16161A;

  --color-border: rgba(255, 255, 255, .3);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-backgound);
}
